@font-face {
    font-family: 'Noto Sans Light';
    font-style: normal;
    font-weight: 400;
    src: url(../font/notoSans/eot/NotoSansKR-Light-Hestia.eot);
    src: url(../font/notoSans/eot/NotoSansKR-Light-Hestia.eot?#iefix) format("embedded-opentype"), url(../font/notoSans/woff/NotoSansKR-Light-Hestia.woff) format("woff");
  }
  
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: url(../font/notoSans/eot/NotoSansKR-Regular-Hestia.eot);
    src: url(../font/notoSans/eot/NotoSansKR-Regular-Hestia.eot?#iefix) format("embedded-opentype"), url(../font/notoSans/woff/NotoSansKR-Regular-Hestia.woff) format("woff");
  }
  
  @font-face {
    font-family: 'Noto Sans Medium';
    font-style: normal;
    font-weight: 400;
    src: url(../font/notoSans/eot/NotoSansKR-Medium-Hestia.eot);
    src: url(../font/notoSans/eot/NotoSansKR-Medium-Hestia.eot?#iefix) format("embedded-opentype"), url(../font/notoSans/woff/NotoSansKR-Medium-Hestia.woff) format("woff");
  }
  
  @font-face {
    font-family: 'lv1Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'lv1GothicBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Happiness-Sans-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  /* reset */
  body,html{width: 100%;height: 100%;margin: 0;padding: 0; font-family:'Noto Sans DemLight', "맑은 고딕", "Malgun Gothic", Dotum, sans-serif;color: #333;letter-spacing:-0.65px !important;}
  :where(html, body, div, span, object,h1, h2, h3, h4, h5, h6, p, blockquote, a, button, abbr, address, img, q,dl, dt, dd, ol, ul, li,fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,article, aside, footer, header, section, summary){
    margin:0;padding:0;border:0;font:inherit;
  }  
  :where(article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section){display: block;}
  ol,ul,li{list-style: none;}
  table{border-collapse: collapse;border-spacing: 0;}
  a{text-decoration: none;color: inherit;cursor: default;}
  address{font-style: normal;}
  button{display: inline-block;border: none;background-color: transparent;cursor: default;}
  input,button,a,select,option{font-family:inherit;font-size:inherit; outline: 0; margin: 0;}
  caption,hr{display:none;}
  pre{word-break:break-all;white-space:pre-line;margin: 0 !important;}
  i{font-style: normal;}
  input::selection{color: #fff; background-color: #0074FF;}
  ::selection{background-color: transparent;}
  iframe{background-color: #fff;}

  /* common class */
  .flexWrap{display: flex; align-items: center;
    &.aifs{align-items: flex-start;}
  }