@charset "utf-8";
 
@import '../scss/reset.scss';
@import '../scss/theme.scss';
@import '../scss/custom.scss';

body{overflow: hidden;}
#App{position: relative; width: 100%; height: 100%;}

.appBg{
  &:before{content: ''; display: block; min-width: 100vw; min-height: 100vh; background: url('../images/bg/bg-windows-light.jpg') no-repeat;
  background-size: cover;}
} 

.pc{position: absolute; top: 0; overflow: hidden; width: 100%; height: calc(100vh - 48px);
  .appWrapper{margin: {top:2px; left:2px;}
    .appList{display: flex; flex-direction: column; flex-wrap: wrap;
      li{width: 75px; height: 86px; transition: .2s ease-in-out; cursor: default; border-radius: 4px;
        i{transition: .1s ease-in-out;}
        .icon{display: block; width: 75px; height: 79px; background-repeat: no-repeat; background-position: center 16px; 
        background-size: 36px 36px; text-align: center;
          .appName{display: block; padding-top: 60px; font-size: 13px; color: #fff; font-family: 'Segoe UI Variable'; 
          text-shadow: 0 0 4px rgba($color: #000, $alpha: 0.6);}
        }
        &.desktop .icon{background-image: url('../images/ico/app/thispc.png');}
        &.recycle .icon{background-image: url('../images/ico/app/recycle.png');}
        &.edge .icon{background-image: url('../images/ico/app/edge.png');}
        &.chrome .icon{background-image: url('../images/ico/app/chrome.png');}
        &.vsc .icon{background-image: url('../images/ico/app/vscode.png');}
        &:hover,&.hover{background-color: hsla(0,0%,100%,.25);}
        //appName 두줄일때
        &.break{height: auto; padding-bottom: 4px;
          .icon{height: auto; background-position: center 13px;
            .appName{padding-top: 56px; line-height: 1.2;}
          }
          +li{margin-top: 10px;}
        }
        +li{margin-top: 5px;}
      }
    }
  }
  .activeMenu{position: absolute; visibility: hidden; top: 881px; left: 50%; transform: translate(-50%); transition: .22s ease;
  box-shadow: 0 0 6px rgba($color: #000000, $alpha: 0.25); border-radius: 8px 8px 0 0; z-index: 10000;
    >.inner{width: 635px; height: 660px; padding: 30px; box-sizing: border-box; border-radius: 8px 8px 0 0; 
    background-color: var(--bg-light-hsla1);
      >.container{margin: 30px auto;
        .appBox{
          .titArea{display: flex; align-items: center; justify-content: space-between; max-width: 530px; margin: 0 auto;
            .tit strong{font-size: 16px; color: #191A1B;}
            .btnAllApp{display: flex; align-items: center; justify-content: space-between; width: 75px; height: 22px; border: 1px solid #E0E4EC; 
            border-radius: 6px; background-color: #fff; text-align: left; padding: 0 7px; transition: .15s ease-in-out;
              span{display: block; font-size: 12px; color: #1A1B1B; font-family: 'Segoe UI Variable'; }
              svg{fill: #58595A;}
              &:hover{background-color: #F2F7F8;}
            }
          }
          .fixedAppList{margin-top: 20px;
            ul{display: flex; align-items: center; flex-wrap: wrap; justify-content: space-between;
              li{width: 90px; height: 82px; border-radius: 6px;
                .icon{display: block; width: inherit; height: inherit;}
                span,a{display: block; text-align: center; padding-top: 52px; font-size: 13px; cursor: default;}
                &.discord .icon{background: url('../images/ico/app/discord.png') no-repeat center 18px;background-size: 32px 32px;}
                &.buyme .icon{background: url('../images/ico/app/buyme.png') no-repeat center 18px;background-size: 32px 32px;}
                &.mail .icon{background: url('../images/ico/app/mail.png') no-repeat center 18px;background-size: 32px 32px;}
                &.notePad{background: url('../images/ico/app/notePad.png') no-repeat center 18px;background-size: 32px 32px;}
                &.setting{background: url('../images/ico/app/settings.png') no-repeat center 18px;background-size: 32px 32px;}
                &:hover{background-color: rgba($color: #fcfcfc, $alpha: 0.8);}
              }
            }
          }
        }
      }
      &:last-child{height: 60px; padding: 0; border-radius: 0 0 8px 8px;
        .nameArea{display: flex; align-items: center; justify-content: center; width: 100px; height: 40px; border-radius: 4px;
          .acc{width: 30px; height: 30px; border-radius: 50%; border: 1px solid #d8d8d8;
          background: #e6e6e6 url('../images/ico/browser/edge-acc.svg') no-repeat center; background-size: 20px 20px;}
          .myName{margin-left: 10px; font-size: 14px; color: #222; cursor: default;}
          &:hover{background-color: var(--bg-light-hsla1);}
        }
        .power{display: flex; align-items: center; justify-content: center; width: 40px; height: 40px; border-radius: 4px;
          &:hover{background-color: var(--bg-light-hsla1);}
          &.poeNone{pointer-events: none;}
          svg{fill: #434449;}
        }
      }
    }
    .userInfoBox{border-top: 1px solid #B2B5C0;
      >.boxInner{display: flex; align-items: center; justify-content: space-between; height: 60px; padding: 0 50px;}
    }
    .searchArea{position: relative; border-radius: 8px; border-bottom: 2px solid #413f3d;
      .searchIcon{position: absolute; top: 10px; left: 15px; transform: scaleX(-1); fill: #777;}
      .appSearch{width: 100%;}
    }
    &.active{visibility: visible; top: 150px;}
  }
}

.appSearch{height: 37px; border: 1px solid #d6d8d8; border-radius: 5px; font-family: 'Segoe UI Variable'; color: #1b1b1b;
  padding-left: 48px; box-sizing: border-box; background-color: #fff;
  &.type02{height: 30px; padding-left: 7px; font-size: 14px;}
  &::placeholder{color: #616161; font-size: 14px;}
}

.taskBar{position: absolute; bottom: 0; width: 100vw; height: 48px; background: var(--bg-light-hsla1); 
backdrop-filter: saturate(3) blur(20px);
  >.inner{display: flex; height: 100%; padding: 10px; box-sizing: border-box;}
  .taskCenter{display: flex; justify-content: center; width: 100%;
    ul{width: inherit; display: flex; gap: 13px; justify-content: center; align-items: center;
      li{position: relative; padding: 8px; box-sizing: border-box; border-radius: 4px; transition: .2s ease-in-out;
        i{transition: .1s ease-in-out;}
        .icon{display: block; width: 24px; height: 24px; background-repeat: no-repeat; background-position: center; background-size: 24px 24px;}
        &.search .icon{background-image: url('../images/ico/app/logo-windows.png');}
        &.setting .icon{background-image: url('../images/ico/app/settings.png');}
        &.file .icon{background-image: url('../images/ico/app/explorer.png');}
        &.edge .icon{background-image: url('../images/ico/app/edge.png');}
        &.chrome .icon{background-image: url('../images/ico/app/chrome.png');}
        &.vsc .icon{background-image: url('../images/ico/app/vscode.png');}
        &.discord .icon{background-image: url('../images/ico/app/discord.png');}
        &.notePad .icon{background-image: url('../images/ico/app/notePad.png');}
        &:hover{background-color: var(--bg-light-hsla2);}
        &:active{
          i{transform: scale(.7);}
        }
        &.windows:before{display: none;}
        &:before{content: ''; visibility: hidden; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); width: 0; height: 3px; 
        border-radius: 20px; background-color: #4C4A48; transition: all .3s ease-in-out;}
        &.on{background-color: var(--bg-light-hsla2);
          &:before{visibility: visible; width: 16px;}
        }
        &.fadeIn{animation: fadeIn .3s ease-in-out;}
        &.transY0{
          &.vsc .icon,&.discord .icon,&.notePad .icon,&.setting .icon{
            animation: transY 350ms cubic-bezier(0, 0, 0.63, 0.915) 0s;
          }
        }
        &.appSave{
          &:before{visibility: visible; width: 6px; background-color: #777C82;}
        }
      }
    }
  }
  .taskRight{position: relative;
    .currentDateTime{position: absolute; right: 0;
      .time,.dateBox{display: flex; justify-content: flex-end;
        span{display: inline-block; font: {size: 11px; family: 'sans-serif';}
          &#ampm{margin-right: 3px;}
          &#date{white-space: nowrap;}
        }
      }
    }
  }
}

@keyframes transY {
  0%{transform: translateY(50px);}
  100%{transform: translateY(0);}
}

@keyframes fadeIn {
  0%{opacity: 0;}
  100%{opacity: 1;}
}

.browser,.windowApp{position: absolute !important; left: 50%; top: 50%; width: 100% !important; height: 100%; opacity: 0; visibility: hidden;
transition: all .25s cubic-bezier(.85,.14,.14,.85); transform: scale(0.7) translate(-50%,-50%); z-index: 1000; border-radius: 6px;

  .topArea{display: flex; width: 100%;
    .right{width: 100%; display: flex; align-items: center; justify-content: flex-end;white-space: nowrap; margin-left: 30px;}
  }

  .controlArea{display: flex; height: 100%;
    button{width: 43px; height: 100%; background-repeat: no-repeat; background-position: center 6px; background-size: 12px 12px;
    cursor: default; transition: .3s ease-in-out;
      &.btnReduction{background-image: url('../images/ico/browser/minimize.png');
        &:hover{background-color: #C7CACF;}
        &:active{background-color: #B2B4B8;}
      }
      &.btnExp{background-image: url('../images/ico/browser/maximize.png');
        &:hover{background-color: #C7CACF;}
        &:active{background-color: #B2B4B8;}
      }
      &.btnClose{background-image: url('../images/ico/browser/close.png'); border-top-right-radius: 6px;
        &:hover{background-color: #E81123; background-image: url('../images/ico/browser/close-white.png');}
        &:active{background-color: #E36571; background-image: url('../images/ico/browser/close-white.png');}
      }
    }
  }

  &.open{opacity: 1; visibility: visible; transform: scale(1) translate(-50%,-50%);}

  &.minilize{min-width: 500px; width: 70% !important; height: auto; transform: scale(1) translate(-50%,-50%);
    .topArea{padding-top: 7px; border-top-left-radius: 6px; border-top-right-radius: 6px;
      .right{
        .controlArea{
          button{
            &.btnExp{background-image: url('../images/ico/browser/maxmin.png');}
          }
        }
      }
    }
  }

  &.save{transform: scale(0); opacity: 0;}
}

.browser{
  &.minilize{
    .browserFrameArea{
      iframe{min-width: 500px; width: 70% !important; height: 600px !important; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px;}
    }
    &.chrome{
      .topArea .browserTabWrap .browserTabList li{width: 100%;}
    }
    .topArea{
      .browserTabWrap{min-width: 240px;
        .browserTabList{
          li{min-width: 110px;}
        }
      }
    }
  }

  .topArea{
    .browserTabWrap{
      .browserTabList{display: flex;
        li{position: relative; display: flex; transition: .3s ease-in-out;
          .browserTitArea{display: flex; align-items: center;}
        }
      }
    }
    .addArea{display: flex; align-items: center;
      .addTab{position: relative; display: flex; align-items: center;
        svg{position: relative; z-index: 1000;}
      }
    }
  }

  .bottomArea{width: 100%; padding: 6px 10px 0 10px; box-sizing: border-box;
  background-color: #fff;
    >.flexWrap{width: 100%;}
    .browserButtonWrap{display: flex; align-items: center;}
    .urlArea{position: relative; width: 100%;
      #urlInput{position: relative; width: 100%; height: 28px; border: 0; font-size: 14px; box-sizing: border-box;}
      .innerButton{display: flex; align-items: center; position: absolute; top: 0; right: 0px;
        button{width: 34px; height: 28px; border-radius: 30px; display: flex; align-items: center; justify-content: center; 
        transition: .3s ease-in-out;
          &.btnShare{margin-top: 1px;}
          svg{fill: #626365;}
          &:hover{background-color:#DCDEE0;}
        }
      }
    }
    .etc{display: flex; align-items: center; gap: 10px; margin-left: 15px;
      >div{position: relative;
        button{
          svg{position: relative; z-index: 10;
            path{fill: #5F6368;}
          }
        }
        &:after{content: ''; position: absolute; top: 50%; left: 50%; width: 26px; height: 26px; transform: translate(-50%,-50%);
        border-radius: 50%; background-color: #eee; transition: .3s ease-in-out; z-index: 1; opacity: 0; visibility: hidden;}
        &:hover:after{opacity: 1; visibility: visible;}
      }
      .account{
        .accInfo{position: relative; width: 20px; height: 20px; border-radius: 50%; background: url('../images/ico/common/myserver.webp') no-repeat center;
        background-size: 20px 20px; z-index: 10;}
      }
    }
    .bookMarkWrap{flex: 1;
      .bookMarkList{
        ul{
          li{display: inline-flex; align-items: center; padding: 1px 4px 1px 4px; border-radius: 20px; 
          transition: .3s background-color ease-in-out; cursor: default;
            .icon{display: inline-block; width: 24px; height: 24px; background-repeat: no-repeat; background-position: center;
            background-size: 32px 32px;}
            &.defaultApp{
              .icon{background-image: url('../images/ico/browser/favi/goggle-apps.png');}
            }
            &.velog{
              .icon{background-image: url('../images/ico/browser/favi/velog.png');background-size: 16px 16px;}
            }
            &.github{
              .icon{background-image: url('../images/ico/browser/favi/github.png'); background-size: 16px 16px;}
            }
            &.mySite01{
              .icon{background-image: url('../images/ico/browser/favi/component-css.png'); background-size: 16px 16px;}
            }
            a{display: flex; align-items: center;}
            span{padding-left: 3px; font: {size: 12px; family: 'Segoe UI Variable';}}
            &:hover{background-color: #eee;}
          }
        }
      }
    }
  }

  .browserFrameArea{width: 100vw;
    iframe{width: 100vw !important; transition: all .25s cubic-bezier(.85,.14,.14,.85);
      &.bg{background-color: #fff;}
    }
  }

  &.chrome{
    .topArea{height: 30px; background-color: #E7EAED;
      .browserTabWrap{
        .browserTabList{
          li{width: 240px; height: 30px; border-top-left-radius: 4px; border-top-right-radius: 6px; 
          background-color: #E7EAED; white-space: nowrap;
            &:hover{background-color: #F6F7F9;
              &:after{opacity: 0; transition: .3s ease-in-out;}
            }
            &:first-child{margin-left: 14px;}
            .browserTitArea{padding-left: 10px;
              .favi{display: inline-block; width: 12px; height: 12px;
              background: url('../images/ico/browser/favi/google.png') no-repeat center; background-size: 12px 12px;}
              .tabName{padding-left: 10px; font-size: 14px; cursor: default;}
            }
            .tabClose{position: absolute; top: 6px; right: 10px; fill: #6B6E71; border-radius: 50%;
              &:hover{background-color: #eee;}
            }
            &.active{background-color: #fff;
              &:before{content: ''; position: absolute; left:-12px; bottom: 0; width: 14px; height: 14px; border-radius: 4px; 
              background: url('../images/ico/browser/corner-left.png') no-repeat center; background-size: 14px 20px; z-index: 100;}
              &:after{content: ''; position: absolute; right: -12px; bottom: 0; width: 14px; height: 14px; border-radius: 4px;
              background: url('../images/ico/browser/corner-right.png')no-repeat center; background-size: 14px 20px; z-index: 100;}
            }
            +li{padding-left: 5px;
              &:after{content: ''; position: absolute; right: 0px; top: 50%; transform: translateY(-50%); 
              width: 1px; height: 20px; background-color: #909497;}
            }
          }
        }
      }
      .addArea{padding-left: 10px;
        .addTab{
          &:before{content: ''; position: absolute; left: -2px; border-radius: 50%; background-color: #C8CACE; width: 27px; 
          height: 27px; opacity: 0; visibility: hidden; transition: .3s; z-index: 1;}
          &:hover{
            &:before{opacity: 1; visibility: visible;}
          }
        }
      }
      >.right{
        .tabSearchArea{
          .tabSearch{width: 43px; height: 29px; display: flex; justify-content: center; transition: .3s ease-in-out;
            &:hover{background-color: #B2B4B8;}
            >svg{opacity: 0.6;}
          }
        }
      }
    }

    .bottomArea{
      .browserButtonWrap{
        button{position: relative; width: 32px; height: 32px; background-repeat: no-repeat; 
          background-position: center; background-size: 34px 34px; z-index: 10; transition: .3s ease-in-out; border-radius: 50%;
          &.btnPrev{background-image: url('../images/ico/browser/arrow-prev.svg');}
          &.btnNext{background-image: url('../images/ico/browser/arrow-next.svg');}
          &.btnRefresh{background-image: url('../images/ico/browser/refresh.svg'); background-size: 24px 24px;}
          &.btnHome{background-image: url('../images/ico/browser/home.svg'); background-size: 24px 24px;}
          &:hover{background-color: #eee;}
        }
      }
      .urlArea{margin-left: 10px;
        .google{position: absolute; top: 7.5px; left: 12px; z-index: 100; width: 14px; height: 14px; 
        background: url('../images/ico/browser/favi/google.png') no-repeat center; background-size: 14px 14px;}
        #urlInput{padding-left: 35px; padding-bottom: 4px;border-radius: 20px; background-color: #F1F3F4; 
        transition: .3s background-color ease-in-out; border: 2px solid transparent;
          &:hover{background-color: #E9EBEC;}
          &:focus{border-color: #1A73E8; background-color: #fff; transition: none;
            &::placeholder{color: transparent;}
          }
          &::placeholder{color: #696A6C; font-family: 'sans-serif';}
        }
      }
    }
    .browserFrameArea iframe{height: 84.4vh;}
  }

  &.vsc{
    .topArea{height: 35px; background-color: #323233;
      >.right{margin-left: 0;
        .controlArea{
          button{transition: none;
            &.btnReduction{background-image: url('../images/ico/browser/minimize-white.png');
              &:hover{background-color: #474748;}
            }
            &.btnExp{background-image: url('../images/ico/browser/maximize-white.png');
              &:hover{background-color: #474748;}
            }
            &.btnClose{background-image: url('../images/ico/browser/close-white.png');}
          }
        }
      }
    }
    .browserFrameArea{
      iframe{height: 91.1vh;}
    }
  }

  &.discord{
    .topArea{height: 20px; background-color: #202225;
      >.right{margin-left: 0; justify-content: space-between;
        .appTitle{display: flex; align-items: center; margin-left: 5px;
          svg text{fill: #A3A6AA; cursor: default;}
        }
        .controlArea{
          button{transition: none;
            &.btnReduction{background-image: url('../images/ico/browser/minimize-white.png');
              &:hover{background-color: #474748;}
            }
            &.btnExp{background-image: url('../images/ico/browser/maximize-white.png');
              &:hover{background-color: #474748;}
            }
            &.btnClose{background-image: url('../images/ico/browser/close-white.png');}
          }
        }
      }
    }

    .sideWrapper{display: flex; height: 100%;
      .sideArea{width: 70px; background-color: #202225;
        ul{display: flex; align-items: center; flex-direction: column; padding-top: 5px;
          li{position: relative; width: 48px; height: 48px; border-radius: 50%; background-color: #36393f; transition: .15s ease-in-out;
            &:first-child{position: relative; margin-bottom: 22px; 
              &:before{content: ''; position: absolute; left: 50%; bottom: -12px; transform: translateX(-50%); 
              width: 32px; height: 2px; background-color: #373a3f;}
            }
            button{display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; 
            color: #DCDDDE; cursor: pointer;
              svg path{fill: currentColor; transition: .15s ease-in-out;}
            }
            &.myServer{
              button{border-radius: 50%; background: url('../images/ico/common/myserver.webp') no-repeat center;
              background-size: 48px 48px;}
            }
            &:hover{
              &:not(.active){border-radius: 14px;}
              &:first-child{background-color: #5865F2;}
              button svg path{fill: #fff;}
            }
            &.active{
              &:after{content: ''; position: absolute; left: -16px; top: 50%; transform: translateY(-50%); width: 10px; height: 40px; 
              border-radius: 6px; background-color: #fff;}
            }
            /* 메시지 알림 표시 */
            &.bullet{
              &:after{content: ''; position: absolute; left: -14px; top: 50%; transform: translateY(-50%); width: 8px; height: 8px; 
              border-radius: 6px; background-color: #fff;}
            }
          }
        }
      }
    }

    .browserFrameArea{
      iframe{width: calc(100vw - 68px); height: 92.7vh; border: 0;}
    }
  }

  &.edge{
    .topArea{height: 30px; background-color: #cdcdcd;
      .btnWorkTab{width: 45px; height: 100%; background: url('../images/ico/browser/edge-panel.svg') no-repeat center;
      background-size: 20px 20px; border-radius: 4px; margin: 0 5px; transition: .3s ease-in-out;
        &:hover{background-color: #BDBDBD;}
      }
      >.right{
        .controlArea button:hover:not(.btnClose){background-color: #b8b8b8;}
      }
      .browserTabWrap{
        .browserTabList{
          li{width: 240px; height: 30px; border-top-left-radius: 4px; border-top-right-radius: 6px; 
          background-color: #E7EAED; white-space: nowrap;
            &:hover{background-color: #F6F7F9;
              &:after{opacity: 0; transition: .3s ease-in-out;}
            }
            // &:first-child{margin-left: 40px;}
            .browserTitArea{padding-left: 10px;
              .favi{display: inline-block; width: 36px; height: 36px;
              background: url('../images/ico/browser/favi/edge-new-tab.svg') no-repeat center; background-size: 36px 36px;}
              .tabName{padding-left: 10px; font-size: 14px; cursor: default;}
            }
            .tabClose{position: absolute; top: 6px; right: 10px; fill: #000; border-radius: 4px;
              &:hover{background-color: #D0D0D0;}
            }
            &.active{background-color: #f7f7f7;}
            +li{padding-left: 5px;
              &:after{content: ''; position: absolute; right: 0px; top: 50%; transform: translateY(-50%); 
              width: 1px; height: 20px; background-color: #909497;}
            }
          }
        }
      }
      .addArea{padding-left: 10px;
        .addTab{
          &:before{content: ''; position: absolute; left: -3px; border-radius: 2px; background-color: #adadad; width: 25px; 
          height: 25px; opacity: 0; visibility: hidden; transition: .3s; z-index: 1;}
          &:hover{
            &:before{opacity: 1; visibility: visible;}
          }
        }
      }
    }

    .bottomArea{border-bottom: 1px solid #ccc; background-color: #f7f7f7;
      .bookMarkWrap{margin-top: 5px;}
      .browserButtonWrap{
        button{position: relative; width: 40px; height: 30px; background-repeat: no-repeat; 
          background-position: center; background-size: 20px 20px; z-index: 10; transition: .3s ease-in-out; border-radius: 4px;
          &.btnPrev{background-image: url('../images/ico/browser/edge-left-arrow.svg');
            &.disabled{background-image: url('../images/ico/browser/edge-left-arrow-disabled.svg');}
          }
          &.btnNext{background-image: url('../images/ico/browser/edge-right-arrow.svg');
            &.disabled{background-image: url('../images/ico/browser/edge-right-arrow-disabled.svg');}
          }
          &.btnRefresh{background-image: url('../images/ico/browser/edge-refresh.svg'); background-size: 24px 24px;}
          &.btnHome{background-image: url('../images/ico/browser/edge-home.svg'); background-size: 24px 24px;}
          &:hover:not(.disabled){background-color: #eee;}
        }
      }
      .urlArea{margin-left: 10px;
        .search{position: absolute; top: 4.5px; left: 12px; z-index: 100; width: 24px; height: 24px; 
        background: url('../images/ico/browser/edge-input-search.svg') no-repeat center; background-size: 24px 24px;}
        #edgeInput{width: 100%; height: 30px; padding-right: 50px; padding-left: 45px; padding-bottom: 4px;border-radius: 6px; background-color: #fff; 
        border: 1px solid transparent; box-shadow: 0 0 5px 2px rgba($color: #ccc, $alpha: 0.3); box-sizing: border-box; color: #767676;
          &:hover{border-color: #ccc;}
          &:focus{border-color: #99BBEF;
            &::placeholder{color: transparent;}
          }
          &::placeholder{color: #696A6C; font-family: 'sans-serif';}
        }
        .innerButton button{margin: {top:2px; right:5px;}
          svg{fill: #868686; transition: .3s ease-in-out;}
          &.btnBookMark{width: 36px; height: 26px; border-radius: 4px;}
          &:hover{background-color: #e6e6e6;
            svg{fill: #000;}
          }
        }
      }
      .etc{
        >div{display: flex; justify-content: center; align-items: center; width: 40px; height: 30px;
          &.account:after{width: 32px; height: 32px; border-radius: 50%;}
          >button{width: 100%; height: 100%;}
          &:after{width: 40px; height: 30px; border-radius: 2px; background-color: #e4e4e4;}
        }
        .extension{position: relative;}
        .account .accInfo{width: 26px; height: 26px; background: #eee url('../images/ico/browser/edge-acc.svg') no-repeat center; 
        background-size: 14px 14px;}
        .ieMode{
          &.disabled{
            .ieSvg{fill: #ccc;}
            &:after{display: none;}
          }
          &.active{
            .ieSvg{position: relative; z-index: 100; fill: #000;}
            &:after{display: block;}
          }
          .ieSvg{width: 16px; height: 16px;}
        }
        .line{position: absolute; right: -5px; width: 1px; height: 16px; background-color: #BFBFBF;}
      }
    }

    .browserFrameArea iframe{height: 84vh;}
  }
}

.windowApp{background-color: #fff;

   //닫혔을 때
   &.close{bottom: -280px !important; left: 50% !important; transform: scale(.5) translate(-50%,-50%) !important;}

    &.notePad{box-shadow: 0 0 15px 8px rgba($color: #000000, $alpha: 0.1);
      .topArea{height: 40px; border-radius: 8px 8px 0 0; background-color: #EFF4F9;
      padding-left: 10px; box-sizing: border-box;
        .rep{display: inline-block; width: 24px; height: 24px; background: url('../images/ico/app/notePad.png') no-repeat center;
        background-size: 16px 16px;}
        .fileName{display: inline-block; font-size: 12px; padding-left: 10px; color: #000; white-space: nowrap;}
        .row{display: flex; width: 100%;
          >.right{margin-left: 0;
            .controlArea{
              button{height: 27px;}
              .btnClose{border-top-right-radius: 8px;}
            }
          }
        }
      }
      .bottomArea{padding-left: 3px; background-color: #EFF4F9; border-bottom: 1px solid #ccc; 
        .helpMenuArea{padding-bottom: 3px;
          ul{display: flex; align-items: center;
            li{display: flex; align-items: center; justify-content: center; width: 46px; height: 32px; border-radius: 4px;
              span{display: inline-block; color: #000; font-size: 14px;}
              &:hover{background-color: #E6EBF0;}
            }
          }
        }
      }
      .textBody{width: 100%; height: calc(100% - 110px);
        #note{border: 0; width: 100%; height: 100%; padding: 15px; box-sizing: border-box; outline: 0;
        font-size: 18px; color: #000; font-family: 'Noto Sans';}
      }
      .txtInfo{display: flex; align-items: center; justify-content: flex-end; width: 100%; height: 33px; 
      border-top: 1px solid #E8E5E5; background-color: #F5F2F2; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;
        span{position: relative; display: inline-block; width: 160px; font-size: 14px; color: #9A9A9A; font-family: 'Segoe UI Variable';
          &:first-child{width: 90px;}
          &:before{content: ''; position: absolute; width: 1px; height: 16px; top: 50%; transform: translateY(-50%); 
          left: -20px; background-color: #e0e0e0;}
        }
      }
    }

    &.setting{background: linear-gradient(90deg, rgba(239,244,249,1) 75%, rgba(243,243,243,1) 100%);
      .topArea{
        .row{display: flex; width: 100%;
          >.flexWrap{position: relative; top: 10px; padding-left: 5px;}
          .infoName{padding-left: 10px; white-space: nowrap; font-size: 12px;}
          .btnAppPrev{display: flex; align-items: center; justify-content: center; width: 40px; height: 35px; border-radius: 6px;
            &:hover{background-color: rgba($color: #EAEAEA, $alpha: 0.7);}
            svg line{stroke: #4c4c4c;}
          }
        }
      }
      .contArea{
        >.container{display: flex;}
        .leftArea{width: 280px; padding: 30px 0 0 5px; box-sizing: border-box; margin-right: 25px;
          .accInfoBox{display: flex; align-items: center; padding: 8px 8px 12px 13px; border-radius: 8px; transition: .1s ease-in-out;
            .accImg{width: 55px; height: 55px; border-radius: 50%; background: #e6e6e6 url('../images/ico/browser/edge-acc.svg') no-repeat center;
            background-size: 30px 30px;}
            .accMaster{padding-left: 10px;
              .accName{font-size: 15px;}
              .accInfo{font-size: 13px; font-weight: normal;}
            }
            &:hover{background-color: rgba($color: #EAEAEA, $alpha: 0.5);}
          }
          .searchArea{position: relative; display: flex; margin: 10px 0 20px 0; width: 265px; border-radius: 5px; border-bottom: 1px solid #1b1b1b;
            &.focus{border-bottom-width: 2px;
              .appSearch{
                &::placeholder{color: #9D9D9D;}
                &:hover{background-color: #fff;}
              }
              .btnInSearch{background: url('../images/ico/useApp/ico-useApp-search-9d9d.svg') no-repeat center; background-size: 12px 14px;}
            }
            
            .appSearch{width: 100%;
              &:hover{background-color: #F4F7F9;}
            }
            .btnInSearch{position: absolute; top: 50%; transform: translateY(-50%); right: 7px; width: 27px; height: 21px; background: url('../images/ico/useApp/ico-useApp-search.svg') no-repeat center;
            background-size: 12px 14px; border-radius: 4px;
              &:hover{background-color: #EDEDED;}
            }
          }
          >.flexWrap{
            &.col{padding-left: 10px;}
          }
        }

        .rightArea{position: relative; width: 100%; margin-top: 30px;
          .titArea{font-size: 28px; font-family: 'Segoe UI Variable'; color: #000;}
          .rightContainer{max-height: 600px;}
          .infoBox{display: flex; flex-wrap: wrap; align-items: center; margin-top: 30px; gap: 10px;
            .deviceInfo{display: flex; align-items: center; gap: 15px; margin-right: 10px;
              .deviceBg{width: 115px; height: 65px; border: 4px solid #000; border-radius: 6px; 
              background: url('../images/bg/bg-windows-light.jpg') no-repeat; background-size: 115px 65px;}
              .deviceName{
                .laptop{font-weight: bold; font-size: 18px;}
                .model{font-size: 14px;}
                .btnRename{display: flex; margin-top: 5px; font-size: 14px; color: #3767A8; transition: .15s ease-in-out;
                border-radius: 6px; cursor: pointer;
                  &:hover{color: #1D3479; background-color: #E9EAEE;}
                }
              }
            }
            .companyBox{display: flex; align-items: center; height: 50px; padding: 10px; box-sizing: border-box; border-radius: 6px; 
            transition: .1s ease-in-out;
              .microsoft{display: block; width: 24px; height: 24px; background: url('../images/ico/useApp/ms.png') no-repeat center;
              background-size: 18px 18px;}
              .companyInfo{display: flex; flex-direction: column; margin-left: 15px;
                strong{font-size: 15px;}
                span{font-size: 13px; color: #606163;}
              }
              &:hover{background-color: #E8EAEF;}
            }
            .updateBox{display: flex; align-items: center; width: 224px; height: 53px; padding: 10px; box-sizing: border-box; border-radius: 6px;
            transition: .1s ease-in-out;
              .update{display: block; width: 24px; height: 24px; 
              background: url('../images/ico/common/windows-update.webp') no-repeat center; background-size: 20px 20px;}
              .updateInfo{display: flex; flex-direction: column; margin-left: 15px;
                strong{font-size: 15px;}
                span{font-size: 13px; color: #606163;}
              }
              &:hover{background-color: #E8EAEF;}
            }
          }
          .setList{margin-top: 30px;
            ul{
              li{position: relative; display: flex; align-items: center; width: calc(100% - 20px); height: 67px; border: 1px solid #E2E5EA; border-radius: 6px;
              background-color: #fff;
                .textWrap{
                  .tit{font-size: 15px; color: #000;}
                  .desc{font-size: 12px; color: #5F6060;}
                }
                .rightArrow{position: absolute; right: 20px; fill: #000;}
                i{display: block; width: 22px; height: 22px; margin: 0 20px; font-family:"Segoe Fluent Icons";
                  &:before{font-size: 24px;}
                }

                /* 시스템 */
                &.display{
                  .monitor:before{content: '\e770';}
                }
                &.sound{
                  .speaker:before{content: '\e767';}
                }
                &.notice{
                  .bell:before{content: '\ea8f';}
                }
                &.concentrate{
                  .moon:before{content: '\ec46';}
                }
                &.battery{
                  .powerMode:before{content: '\e7e8';}
                }
                &.storage{
                  .drive:before{content: '\eda2';}
                }
                &.lanShare{
                  .share:before{content: '\e72d';}
                }
                &.multiTasking{
                  .screen:before{content: '\ee40';}
                }
                &.genuineParts{
                  .check:before{content: '\e930';}
                }
                &.problem{
                  .spanner:before{content: '\e90f';}
                }
                &.restore{
                  .return:before{content: '\ebc4';}
                }
                &.myPc{
                  .desktop:before{content: '\ebc6';}
                }
                &.remote{
                  .remoteDesktop:before{content: '\e8af';}
                }
                &.clipBoard{
                  .docs:before{content: '\e77f';}
                }
                &.information{
                  .pcInfo:before{content: '\e946';}
                }

                /* 개인설정 */
                &.background{
                  .img:before{content: '\e91b';}
                }
                &.color{
                  .palette:before{content: '\e790';}
                }
                &.themeColor{
                  .brush:before{content: '\e771';}
                }
                &.lock{
                  .lockScreen:before{content: '\ee3f';}
                }
                &.touchKeyboard{
                  .keyboard:before{content: '\e765';}
                }
                &.startMenu{
                  .start:before{content: '\f26c';} //아이콘이 없어서 비슷한걸로 대체
                }
                &.task{
                  .taskIcon:before{content: '\e90e';}
                }
                &.font{
                  .fontIcon:before{content: '\e8d2';}
                }
                &.device{
                  .deviceIcon:before{content: '\ec76';}
                }
                &:hover{background-color: #F5F6F9;}
                +li{margin-top: 5px;}
              }
            }
          }
        }
      }
    }
}

.tabWrapper{
  &.setting{width: 100%;}
  .tabNav{
    .tabList{position: relative;
      li{position: relative; width: 100%; height: 36px; border-radius: 6px;
        a{display: flex; align-items: center; height: 100%; padding-left: 38px; font-size: 14px; color: #000;
        font-family: 'Segoe UI Variable';}
        &:before{content: ''; position: absolute; left: 10px; top: 50%; transform: translateY(-50%); width: 16px; height: 16px;
        background-size: 16px 16px; background-repeat: no-repeat; background-position: center;}
        &.system:before{background-image: url('../images/ico/common/system.webp');}
        &.bluetooth:before{background-image: url('../images/ico/common/bluetooth.webp');}
        &.network:before{background-image: url('../images/ico/common/network.webp');}
        &.indiv:before{background-image: url('../images/ico/common/Personalisation.webp');}
        &.defaultApp:before{background-image: url('../images/ico/common/apps.webp');}
        &.acc:before{background-image: url('../images/ico/common/acc.webp');}
        &.time:before{background-image: url('../images/ico/common/time.webp');}
        &.game:before{background-image: url('../images/ico/common/game.webp');}
        &.a11y:before{background-image: url('../images/ico/common/a11y.webp');}
        &.security:before{background-image: url('../images/ico/common/privacy.webp');}
        &.windowsUpdate:before{background-image: url('../images/ico/common/windows-update.webp');}
        &.tabLine{position: absolute; left: 0; width: 3px; 
        height: 16px; border-radius: 50px; background-color: #413F3D; transition: .3s ease-in-out;
          &:before{display: none;}
        }
        &:hover{background-color: #E7EBF0;}
        &.active{background-color: #e7ebf0;}
        &:first-of-type.active ~ .tabLine{top: 5px;}
        &:nth-of-type(2).active ~ .tabLine{top: 45px;}
        &:nth-of-type(3).active ~ .tabLine{top: 86px;}
        &:nth-of-type(4).active ~ .tabLine{top: 128px;}
        &:nth-of-type(5).active ~ .tabLine{top: 169px;}
        &:nth-of-type(6).active ~ .tabLine{top: 209px;}
        &:nth-of-type(7).active ~ .tabLine{top: 250px;}
        &:nth-of-type(8).active ~ .tabLine{top: 291px;}
        &:nth-of-type(9).active ~ .tabLine{top: 333px;}
        &:nth-of-type(10).active ~ .tabLine{top: 373px;}
        &:nth-of-type(11).active ~ .tabLine{top: 415px;}
        +li{margin-top: 5px;}
      }
    }
  }
}

.tabCont{display: none; transition: .15s ease-in-out;
  .scrollArea{max-height: 600px;}
  &.active{display: block;
    .windowScrollbar{animation: slideUp .2s;}
  }
}

.ui-icon,.ui-widget-content .ui-icon{background-image: none !important;}

#frameLoading{position: absolute; top: 50%; left: 50%;
width: 50px;height: 50px;border: 3px solid rgba(0,0,0,.5);border-radius: 50%;
border-top-color: #fff;animation: spin 1s ease-in-out infinite; -webkit-animation: spin 1s ease-in-out infinite; z-index: 9999;}

.powerList{position: absolute; right: 5px; bottom: 55px; width: 130px; height: 60px; border: 1px solid #DFE2EB; border-radius: 6px; 
background-color: #F6F8FB; visibility: hidden; transition: none; overflow: hidden;
  li{display: flex; align-items: center; margin: 5px; padding: 2px; box-sizing: border-box; border-radius: 6px;
    span{display: inline-block; padding-left: 7px;}
    >svg{padding-left: 3px;}
    &:nth-child(2){
      svg{padding-left: 6px;}
    }
    &:last-child{
      svg{padding-left: 4px;}
      span{padding-left: 5px;}
    }
    &:hover{background-color: #EDEDED;}
    span{font-size: 14px; color: #000;}
  }
  &.active{height: 100px; visibility: visible; transition: .2s ease-in-out; box-shadow: 0px 4px 5px rgba($color: #000000, $alpha: 0.2);}
}

.previewArea{position: relative; width: 360px; height: 210px; border: 4px solid #000; border-radius: 8px; 
background-repeat: no-repeat; background-position: center; background-size: 360px 210px;
  &.light{background-image: url('../images/bg/bg-windows-light.jpg');}
  &.dark{background-image: url('../images/bg/bg-windows-dark.jpg');}
  &.theme01{background-image: url('../images/bg/bg-windows-theme01.jpg');}
  &.theme02{background-image: url('../images/bg/bg-windows-theme02.jpg');}
  &.theme03{background-image: url('../images/bg/bg-windows-theme03.jpg');}
  &.theme04{background-image: url('../images/bg/bg-windows-theme04.jpg');}
  +.themeArea{margin-top: 10px;}
}

.skeletonBox{position: absolute; right: 10px; bottom: 10px; width: 94px; height: 94px; padding: 15px; box-sizing: border-box; 
border-radius: 4px; background-color: #DBDDE1;
  .longLine{width: 100%; height: 1px; background-color: #525355;
    +.longLine{margin-top: 9px;}
    +.shortLine{margin-top: 9px;}
  }
  .shortLine{width: 50%; height: 1px; background-color: #525355;}
  >button{position: absolute; right: 15px; bottom: 15px; width: 25px; height: 8px; 
  border-radius: 2px; background-color: #0067C0;}
  &.sm{width: 40px; height: 40px; right: 5px; bottom: 5px;
    >button{position: absolute; left: 50%; transform: translateX(-50%); bottom: 8px; width: 21px; height: 7px; 
    border-radius: 2px;}
    &.light{background-color: #D6DCEC;
      >button{background-color: #0078D4;}
    }
    &.dark{background-color: #1F2B62;
      >button{background-color: #0078D4;}
    }
    &.purple{background-color: #6A0B56;
      >button{background-color: #680081;}
    }
    &.red{background-color: #332738;
      >button{background-color: #D0000C;}
    }
    &.white{background-color: #E1EDEF;
      >button{background-color: #459BAC;}
    }
    &.gray{background-color: #E5EDF1;
      >button{background-color: #506773;}
    }
  }
}

.themeArea{
  .chooseTheme{display: block; padding-bottom: 10px; font-size: 16px; color: #000;}
  .themeList{display: flex; gap: 10px; flex-wrap: wrap;
    li{position: relative; width: 120px; height: 90px; border-radius: 8px; border: 1px solid; border-color: transparent;
    background-repeat: no-repeat; background-position: center; background-size: 120px 90px;
      &.light{background-image: url('../images/bg/bg-windows-light.jpg');}
      &.dark{background-image: url('../images/bg/bg-windows-dark.jpg');}
      &.theme01{background-image: url('../images/bg/bg-windows-theme01.jpg');}
      &.theme02{background-image: url('../images/bg/bg-windows-theme02.jpg');}
      &.theme03{background-image: url('../images/bg/bg-windows-theme03.jpg');}
      &.theme04{background-image: url('../images/bg/bg-windows-theme04.jpg');}
      &:hover{border-color: #ccc;}
    }
  }
  &.w60{width: 60%;}
}

.endBg{display: none; position: fixed; top: 0; left: 0; align-items: center; justify-content: center; flex-direction: column; width: 100vw; 
height: 100vh; background-color: var(--bg-system-end); z-index: 10000;
  span{display: inline-block; margin-top: 14px; font-size: 20px; color: #fff;font-family: 'Segoe UI Variable';}
  &.active{display: flex;}
  &.black{display: flex; background-color: #000;
    .lds-roller,span{display: none;}
  }
}

.lds-roller {display: inline-block;position: relative;width: 80px;height: 80px;
  div{animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;transform-origin: 40px 40px;
    &:after {content: " ";display: block;position: absolute;width: 7px;height: 7px;border-radius: 50%;background: #fff;
    margin: -4px 0 0 -4px;}
    &:nth-child(1) {animation-delay: -0.036s;
      &:after {top: 63px;left: 63px;}
    }
    &:nth-child(2) {animation-delay: -0.072s;
      &:after {top: 68px;left: 56px;}
    }
    &:nth-child(3) {animation-delay: -0.108s;
      &:after {top: 71px;left: 48px;}
    }
    &:nth-child(4) {animation-delay: -0.144s;
      &:after {top: 72px;left: 40px;}
    }
    &:nth-child(5) {animation-delay: -0.18s;
      &:after {top: 71px;left: 32px;}
    }
    &:nth-child(6) {animation-delay: -0.216s;
      &:after {top: 68px;left: 24px;}
    }
    &:nth-child(7) {animation-delay: -0.252s;
      &:after {top: 63px;left: 17px;}
    }
    &:nth-child(8) {animation-delay: -0.288s;
      &:after {top: 56px;left: 12px;}
    }
  }
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-height:1080px){
  .browser{
    &.discord{
      .browserFrameArea iframe{height: 93.8vh;}
    }
  }
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg)}
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

@keyframes slideUp {
  from {transform: translateY(70px);max-height: 530px;}
  to {transform: translateY(0);max-height: 600px;}
}

