@charset "utf-8";
 
@import '../scss/reset.scss';
@import '../scss/theme.scss';

body{overflow: hidden;}
#App{position: relative; width: 100%; height: 100%;}

.appBg{
  &:before{content: ''; display: block; min-width: 100vw; min-height: 100vh; background: url('/images/bg/bg-windows-light.jpg') no-repeat;
  background-size: cover;}
} 

.pc{position: absolute; top: 0; overflow: hidden; width: 100%; height: calc(100vh - 48px);
  .appWrapper{margin: {top:2px; left:2px;}
    .appList{display: flex; flex-direction: column; flex-wrap: wrap;
      li{width: 75px; height: 86px; transition: .2s ease-in-out; cursor: default; border-radius: 4px;
        i{transition: .1s ease-in-out;}
        .icon{display: block; width: 75px; height: 79px; background-repeat: no-repeat; background-position: center 16px; 
        background-size: 36px 36px; text-align: center;
          .appName{display: block; padding-top: 60px; font-size: 13px; color: #fff; font-family: 'Segoe UI Variable'; 
          text-shadow: 0 0 4px rgba($color: #000, $alpha: 0.6);}
        }
        &.desktop .icon{background-image: url('../images/ico/thispc.png');}
        &.recycle .icon{background-image: url('../images/ico/recycle.png');}
        &.edge .icon{background-image: url('../images/ico/edge.png');}
        &.chrome .icon{background-image: url('../images/ico/chrome.png');}
        &.vsc .icon{background-image: url('../images/ico/vscode.png');}
        &:hover,&.hover{background-color: hsla(0,0%,100%,.25);}
        //appName 두줄일때
        &.break{height: auto; padding-bottom: 4px;
          .icon{height: auto; background-position: center 13px;
            .appName{padding-top: 56px; line-height: 1.2;}
          }
          +li{margin-top: 10px;}
        }
        +li{margin-top: 5px;}
      }
    }
  }
  .activeMenu{position: absolute; visibility: hidden; top: 881px; left: 50%; transform: translate(-50%); transition: .22s ease;
  box-shadow: 0 0 6px rgba($color: #000000, $alpha: 0.25); 
    >.inner{width: 635px; height: 720px; padding: 30px; box-sizing: border-box; border-radius: 8px; 
    background-color: var(--bg-light-hsla1);
      >.container{max-width: 510px; margin: 30px auto;
        .appBox{
          .titArea{display: flex; align-items: center; justify-content: space-between;
            .tit strong{font-size: 16px; color: #191A1B;}
            .btnAllApp{display: flex; align-items: center; justify-content: space-between; width: 75px; height: 22px; border: 1px solid #E0E4EC; 
            border-radius: 6px; background-color: #fff; text-align: left; padding: 0 7px; transition: .15s ease-in-out;
              span{display: block; font-size: 12px; color: #1A1B1B; font-family: 'Segoe UI Variable'; }
              svg{fill: #58595A;}
              &:hover{background-color: #F2F7F8;}
            }
          }
        }
      }
    }
    .searchArea{position: relative; border-radius: 8px; border-bottom: 2px solid #413f3d;
      .searchIcon{position: absolute; top: 10px; left: 15px; transform: scaleX(-1); fill: #777;}
      .appSearch{width: 100%;}
    }
    &.active{visibility: visible; top: 150px;}
  }
}

.appSearch{height: 37px; border: 1px solid #d6d8d8; border-radius: 5px; font-family: 'Segoe UI Variable'; color: #1b1b1b;
  padding-left: 48px; box-sizing: border-box; background-color: #fff;
  &::placeholder{color: #616161; font-size: 14px;}
}

.taskBar{position: absolute; bottom: 0; width: 100vw; height: 48px; background: var(--bg-light-hsla1); 
backdrop-filter: saturate(3) blur(20px);
  >.inner{display: flex; height: 100%; padding: 10px; box-sizing: border-box;}
  .taskCenter{display: flex; justify-content: center; width: 100%;
    ul{width: inherit; display: flex; gap: 13px; justify-content: center; align-items: center;
      li{position: relative; padding: 8px; box-sizing: border-box; border-radius: 4px; transition: .2s ease-in-out;
        i{transition: .1s ease-in-out;}
        .icon{display: block; width: 24px; height: 24px; background-repeat: no-repeat; background-position: center; background-size: 24px 24px;}
        &.search .icon{background-image: url('../images/ico/logo-windows.png');}
        &.setting .icon{background-image: url('../images/ico/settings.png');}
        &.file .icon{background-image: url('../images/ico/explorer.png');}
        &.edge .icon{background-image: url('../images/ico/edge.png');}
        &.chrome .icon{background-image: url('../images/ico/chrome.png');}
        &:hover{background-color: var(--bg-light-hsla2);}
        &:active{
          i{transform: scale(.7);}
        }
        &.windows:before{display: none;}
        &:before{content: ''; visibility: hidden; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); width: 0; height: 3px; 
        border-radius: 20px; background-color: #4C4A48; transition: all .3s ease-in-out;}
        &.on{background-color: var(--bg-light-hsla2);
          &:before{visibility: visible; width: 16px;}
        }
        &.appSave{
          &:before{visibility: visible; width: 6px; background-color: #777C82;}
        }
      }
    }
  }
  .taskRight{position: relative;
    .currentDateTime{position: absolute; right: 0;
      .time,.dateBox{display: flex; justify-content: flex-end;
        span{display: inline-block; font: {size: 11px; family: 'sans-serif';}
          &#ampm{margin-right: 3px;}
          &#date{white-space: nowrap;}
        }
      }
    }
  }
}

.browser{position: absolute !important; top: 0; left: 0; width: 100%; height: 100%; visibility: hidden; transition: all .25s cubic-bezier(.85,.14,.14,.85);
transform-origin: center; transform: scale(0.7); opacity: 0;
  //열렸을 때
  &.open{opacity: 1; visibility: visible; transform: scale(1);}

  //최소화/풀스크린 모드
  &.minilize{min-width: 500px; width: 70%; height: auto;
    .browserFrameArea{
      #chromeFrame{min-width: 500px; width: 70%; height: 600px; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px;}
    }
    &.chrome{
      .topArea .browserTabWrap .browserTabList li{width: 100%;}
    }
    .topArea{padding-top: 7px; border-top-left-radius: 6px; border-top-right-radius: 6px;
      .browserTabWrap{min-width: 240px;
        .browserTabList{
          li{min-width: 110px;}
        }
      }
      >.right{position: relative; top: -6px;
        .browserControlArea{
          button{
            &.btnExp{background-image: url('../images/ico/maxmin.png');}
            &.btnBrowserClose{border-top-right-radius: 6px;}
          }
        }
      }
    }
  }

  //축소모드
  &.save{transform: scale(0); opacity: 0;}

  .topArea{display: flex; width: 100%;
    .browserTabWrap{
      .browserTabList{display: flex;
        li{position: relative; display: flex; transition: .3s ease-in-out;
          .browserTitArea{display: flex; align-items: center;}
        }
      }
    }
    .addArea{display: flex; align-items: center;
      .addTab{position: relative; display: flex; align-items: center;
        svg{position: relative; z-index: 1000;}
      }
    }
    >.right{width: 100%; display: flex; align-items: center; justify-content: flex-end;white-space: nowrap; margin-left: 30px;
      .browserControlArea{
        button{width: 43px; height: 29px; background-repeat: no-repeat; background-position: center;
        background-size: 12px 12px; cursor: default; transition: .3s ease-in-out;
          &.btnReduction{background-image: url('../images/ico/minimize.png');
            &:hover{background-color: #C7CACF;}
            &:active{background-color: #B2B4B8;}
          }
          &.btnExp{background-image: url('../images/ico/maximize.png');
            &:hover{background-color: #C7CACF;}
            &:active{background-color: #B2B4B8;}
          }
          &.btnBrowserClose{background-image: url('../images/ico/close.png');
            &:hover{background-color: #E81123; background-image: url('../images/ico/close-white.png');}
            &:active{background-color: #E36571; background-image: url('../images/ico/close-white.png');}
          }
        }
      }
    }
  }

  .bottomArea{width: 100%; padding: 6px 10px 0 10px; box-sizing: border-box;
  background-color: #fff;
    >.flexWrap{width: 100%;}
    .browserButtonWrap{display: flex; align-items: center;}
    .urlArea{position: relative; width: 100%;
      #urlInput{position: relative; width: 100%; height: 28px; border: 0; font-size: 14px; box-sizing: border-box;}
      .innerButton{position: absolute;}
    }
    .bookMarkWrap{flex: 1;
      .bookMarkList{
        ul{
          li{display: inline-flex; align-items: center; padding: 1px 4px 1px 4px; border-radius: 20px; 
          transition: .3s background-color ease-in-out; cursor: default;
            .icon{display: inline-block; width: 24px; height: 24px; background-repeat: no-repeat; background-position: center;
            background-size: 32px 32px;}
            &.defaultApp{
              .icon{background-image: url('../images/ico/goggle-apps.png');}
            }
            &.velog{
              .icon{background-image: url('../images/ico/velog.png');background-size: 16px 16px;}
            }
            &.github{
              .icon{background-image: url('../images/ico/github.png'); background-size: 16px 16px;}
            }
            &.mySite01{
              .icon{background-image: url('../images/ico/component-css.png'); background-size: 16px 16px;}
            }
            a{display: flex; align-items: center;}
            span{padding-left: 3px; font: {size: 12px; family: 'Segoe UI Variable';}}
            &:hover{background-color: #eee;}
          }
        }
      }
    }
  }

  .browserFrameArea{width: 100vw;
    iframe{width: 100vw; height: 85.4vh; transition: all .25s cubic-bezier(.85,.14,.14,.85);}
  }

  &.chrome{
    .topArea{height: 30px; background-color: #E7EAED;
      .browserTabWrap{
        .browserTabList{
          li{width: 240px; height: 30px; border-top-left-radius: 4px; border-top-right-radius: 6px; 
          background-color: #E7EAED; white-space: nowrap;
            &:hover{background-color: #F6F7F9;
              &:after{opacity: 0; transition: .3s ease-in-out;}
            }
            &:first-child{margin-left: 14px;}
            .browserTitArea{padding-left: 10px;
              .favi{display: inline-block; width: 12px; height: 12px;
              background: url('../images/ico/google.png') no-repeat center; background-size: 12px 12px;}
              .tabName{padding-left: 10px; font-size: 14px; cursor: default;}
            }
            .tabClose{position: absolute; top: 6px; right: 10px; fill: #6B6E71;}
            &.active{background-color: #fff;
              &:before{content: ''; position: absolute; left:-12px; bottom: 0; width: 14px; height: 14px; border-radius: 4px; 
              background: url('../images/ico/corner-left.png') no-repeat center; background-size: 14px 20px; z-index: 100;}
              &:after{content: ''; position: absolute; right: -12px; bottom: 0; width: 14px; height: 14px; border-radius: 4px;
              background: url('../images/ico/corner-right.png')no-repeat center; background-size: 14px 20px; z-index: 100;}
            }
            +li{padding-left: 5px;
              &:after{content: ''; position: absolute; right: 0px; top: 50%; transform: translateY(-50%); 
              width: 1px; height: 20px; background-color: #909497;}
            }
          }
        }
      }
      .addArea{padding-left: 10px;
        .addTab{
          &:before{content: ''; position: absolute; left: -2px; border-radius: 50%; background-color: #C8CACE; width: 27px; 
          height: 27px; opacity: 0; visibility: hidden; transition: .3s; z-index: 1;}
          &:hover{
            &:before{opacity: 1; visibility: visible;}
          }
        }
      }
      >.right{
        .tabSearchArea{
          .tabSearch{width: 43px; height: 29px; display: flex; justify-content: center; transition: .3s ease-in-out;
            &:hover{background-color: #B2B4B8;}
            >svg{opacity: 0.6;}
          }
        }
      }
    }

    .bottomArea{
      .browserButtonWrap{
        button{width: 32px; height: 32px; background-repeat: no-repeat; background-position: center; background-size: 34px 34px;
          &.btnPrev{background-image: url('../images/ico/arrow-prev.svg');}
          &.btnNext{background-image: url('../images/ico/arrow-next.svg');}
          &.btnRefresh{background-image: url('../images/ico/refresh.svg'); background-size: 24px 24px;}
          &.btnHome{background-image: url('../images/ico/home.svg'); background-size: 24px 24px;}
        }
      }
      .urlArea{margin-left: 10px;
        .google{position: absolute; top: 7.5px; left: 12px; z-index: 100; width: 14px; height: 14px; 
        background: url('../images/ico/google.png') no-repeat center; background-size: 14px 14px;}
        #urlInput{padding-left: 35px; padding-bottom: 4px;border-radius: 20px; background-color: #F1F3F4; 
        transition: .3s background-color ease-in-out; border: 2px solid transparent;
          &:hover{background-color: #E9EBEC;}
          &:focus{border-color: #1A73E8; background-color: #fff; transition: none;
            &::placeholder{color: transparent;}
          }
          &::placeholder{color: #696A6C; font-family: 'sans-serif';}
        }
      }
    }
  }
}

.ui-icon,.ui-widget-content .ui-icon{background-image: none !important;}
